__pycache__/
*.py[cod]

venv/
env/
.venv/
.env/

.idea/
*.sublime-project
*.sublime-workspace
*.vscode/
*.pydevproject

*.log

.DS_Store
Thumbs.db

test_results/
coverage/

*.egg
*.egg-info/
dist/
build/
*.whl

*.env